<h1>User Repos</h1>

<nav class="navbar navbar-expand-lg navbar-dark ">
    <div>
    <label>
      <input class="form-control" [(ngModel)]="userName" placeholder="name"/>
    </label>
    <button (click)="getRepos(userName)" class="btn btn-secondary" type="button">Search</button>
    </div>
</nav>
<div *ngIf="error">
	 <label>{{error}}</label>
</div>
<div *ngIf="repoOwner">
	<img border="0" alt="repoOwner" src="{{repoOwner.avatar_url}}" width="100" height="100">
</div>

<ul class="list-group repos">
  <li class="list-group-item" *ngFor="let repo of repos">
  
    <a routerLink="/detail/{{repo.id}}/{{userName}}">
      <span class="badge">{{repo.id}}</span> {{repo.name}}
    </a>
  </li>
</ul>

 
