$secondary-color: #F3969A;

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
  color: $secondary-color;
}
label{
	color:#6CC3D5 !important;
}

.details{
	margin : 2em 2em;
	color-text: #5a5a5a;
}