@import '../app.component.scss';

$secondary-color: #F3969A;

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
  color: $secondary-color;
}

.btn-secondary{
	background-color: $secondary-color;
    border-color: $secondary-color;
}
.details{
	 margin : 2em 2em;
	.card {
	    position: relative;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    min-width: 0;
	    color: #5a5a5a;
	    word-wrap: break-word;
	    background-color: #fff;
	    background-clip: border-box;
	    border: 1px solid rgba(0, 0, 0, 0.125);
	    border-radius: 0.4rem;
	    margin : 2em 0em;
		.card-data{
		     margin : 1em 2em; 
		}

    }
}
.border-secondary {
    border-color: $secondary-color !important;
}