/* AppComponent's private CSS styles */


h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
.nav-color{
  background-color: #78C2AD !important
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}